[submodule "Blockchain/Lesson 7: Foundry Fund Me/foundry-fund-me-f23/lib/chainlink-brownie-contracts"]
	path = Blockchain/Lesson 7: Foundry Fund Me/foundry-fund-me-f23/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Blockchain/Lesson 7: Foundry Fund Me/foundry-fund-me-cu/lib/foundry-devops"]
	path = Blockchain/Lesson 7: Foundry Fund Me/foundry-fund-me-cu/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "Blockchain/Lesson 7: Foundry Fund Me/foundry-fund-me-cu/lib/chainlink-brownie-contracts"]
	path = Blockchain/Lesson 7: Foundry Fund Me/foundry-fund-me-cu/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Blockchain/Lesson 9: Foundry Smart Contract Lottery/foundry-smart-contract-lottery-cu/lib/chainlink-brownie-contracts"]
	path = Blockchain/Lesson 9: Foundry Smart Contract Lottery/foundry-smart-contract-lottery-cu/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Blockchain/Lesson 9: Foundry Smart Contract Lottery/foundry-smart-contract-lottery-cu/lib/solmate"]
	path = Blockchain/Lesson 9: Foundry Smart Contract Lottery/foundry-smart-contract-lottery-cu/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "Blockchain/Lesson 9: Foundry Smart Contract Lottery/foundry-smart-contract-lottery-cu/lib/foundry-devops"]
	path = Blockchain/Lesson 9: Foundry Smart Contract Lottery/foundry-smart-contract-lottery-cu/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "Blockchain/Lesson 10: ERC20s/foundry-erc20-f23/lib/foundry-devops"]
	path = Blockchain/Lesson 10: ERC20s/foundry-erc20-f23/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "Blockchain/Lesson 10: ERC20s/foundry-erc20-f23/lib/openzepplin-contracts"]
	path = Blockchain/Lesson 10: ERC20s/foundry-erc20-f23/lib/openzepplin-contracts
	url = https://github.com/Openzepplin/openzepplin-contracts
[submodule "Blockchain/Lesson 11: NFTs/foundry-nft-f23/lib/openzeppelin-contracts"]
	path = Blockchain/Lesson 11: NFTs/foundry-nft-f23/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Blockchain/Lesson 11: NFTs/foundry-nft-f23/lib/foundry-devops"]
	path = Blockchain/Lesson 11: NFTs/foundry-nft-f23/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "Blockchain/Lesson 12: DeFi Stablecoin/foundry-defi-stablecoin-f23/lib/openzeppelin-contracts"]
	path = Blockchain/Lesson 12: DeFi Stablecoin/foundry-defi-stablecoin-f23/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Blockchain/Lesson 12: DeFi Stablecoin/foundry-defi-stablecoin-f23/lib/chainlink-brownie-contracts"]
	path = Blockchain/Lesson 12: DeFi Stablecoin/foundry-defi-stablecoin-f23/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Blockchain/Lesson 12: DeFi Stablecoin/foundry-defi-stablecoin-f23/lib/foundry-devops"]
	path = Blockchain/Lesson 12: DeFi Stablecoin/foundry-defi-stablecoin-f23/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "Blockchain/Lesson 13: Merkle Trees and Signatures/merkle-airdrop/lib/openzeppelin-contracts"]
	path = Blockchain/Lesson 13: Merkle Trees and Signatures/merkle-airdrop/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Blockchain/Lesson 13: Merkle Trees and Signatures/merkle-airdrop/lib/murky"]
	path = Blockchain/Lesson 13: Merkle Trees and Signatures/merkle-airdrop/lib/murky
	url = https://github.com/dmfxyz/murky
