[submodule "Blockchain/Lesson 7: Foundry Fund Me/foundry-fund-me-f23/lib/chainlink-brownie-contracts"]
	path = Blockchain/Lesson 7: Foundry Fund Me/foundry-fund-me-f23/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Blockchain/Lesson 7: Foundry Fund Me/foundry-fund-me-cu/lib/foundry-devops"]
	path = Blockchain/Lesson 7: Foundry Fund Me/foundry-fund-me-cu/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "Blockchain/Lesson 7: Foundry Fund Me/foundry-fund-me-cu/lib/chainlink-brownie-contracts"]
	path = Blockchain/Lesson 7: Foundry Fund Me/foundry-fund-me-cu/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Blockchain/Lesson 9: Foundry Smart Contract Lottery/foundry-smart-contract-lottery-cu/lib/chainlink-brownie-contracts"]
	path = Blockchain/Lesson 9: Foundry Smart Contract Lottery/foundry-smart-contract-lottery-cu/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Blockchain/Lesson 9: Foundry Smart Contract Lottery/foundry-smart-contract-lottery-cu/lib/solmate"]
	path = Blockchain/Lesson 9: Foundry Smart Contract Lottery/foundry-smart-contract-lottery-cu/lib/solmate
	url = https://github.com/transmissions11/solmate
