- Пользователь заполняет поля: имя, email (уникальный ключ), пол.
- Сервер должен обрабатывать следующие команды:
    - добавить пользователя,
    - получить список email N пользователей, начиная с i-го,
    - получить информацию о пользователе по его email,
    - удалить пользователя.
- В случае ошибки команды добавления, удаления и получения пользователя должен
 возвращать описание ошибки в строковом поле (если ошибки нет, тогда в
 поле должна быть пустая строка).