{% extends "public/templates/public_template.j2" %}

{% block title %}Page not found{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Page not found</h1>
        <hr>
        <a href="/">Home</a>
    </div>
  </div>
</div>

{% endblock %}

