<!DOCTYPE html>
<html lang="en">
<head>
{# Здесь и используем url_for. Указываем в аргументе путь к файлу css#}
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    {% block title -%}
    {% if title %}
        <title>Про Flask - {{ title }}</title>
    {% else %}
        <title>Про Flask</title>
    {% endif %}
    {% endblock %}
</head>
<body>
    {% block content -%}
        {% block mainmenu -%}
    <ul class="mainmenu">
    <li><a href="{{ url_for('index')}}">Главная</a> </li>
    <li><a href="{{ url_for('addPost')}}">Добавление записи</a> </li>
    </ul>
        {% endblock mainmenu -%}
    <div class="clear"></div>
    <div class="content">
        {% if title -%}
<h1>{{ title }}</h1>
        {% else -%}
<h1>Про Flask</h1>
        {% endif -%}
{% endblock -%}
</div>
</body>
</html>